In [83]:
#Q1
# ' program to find sum of elements in list'
l = [2,3,4,55,66,77]
add = sum(l)
print("the sum of the elements are: {}".format(add))

the sum of the elements are: 207

In [84]:
#Q2
# 'program to multiply numbers in the list'
l = [2,3,4,55,66,77]
multiply = 1
for i in l:
    multiply *= i
print("the multiplication of all the numbers are: {}".format(multiply))

the multiplication of all the numbers are: 6708240

In [92]:
#Q3
# 'program to find smallest number in the list'
sm = [3,5,0,9,33,55]
print("the smallest number in the list is:",min(sm))

the smallest number in the list is: 0

In [14]:
#Q4
# 'program to find largest number in the list'
lr = [44,5,44,3,1,333,5,89,3]
print("the largest number in the list is:",max(lr))

the largest number in the list is: 333

In [86]:
#Q5
# 'program to find second largest number in the list'
sec_lar = [22,100,33,2,77,145]
sec_lar.sort()
print("the second largest number in the list is : {}".format(sec_lar[-2]))

the second largest number in the list is : 100

In [91]:
#Q6
# 'program to find n largest elements from a list'
# here we are importing heapq module because instead of sorting the whole array we can use heapsort
from heapq import nlargest
n_largest = [33,4,66,3,44,100,7,2,33,2,110]
print(nlargest(2,n_largest))

[110, 100]

In [34]:
#Q7
# 'program to print even numbers in a list'
evn_list = [1,33,55,22,44,66,2,4,3,5]
for i in evn_list:
    if i%2 == 0:
        print(i,end=" , ")

22 , 44 , 66 , 2 , 4 ,

In [88]:
#Q8
# 'program to print odd numbers in a list'
odd_list = [1,33,55,22,44,66,2,4,3,5]
for i in odd_list:
    if i%2 != 0:
        print(i,end=" , ")

1 , 33 , 55 , 3 , 5 ,

In [45]:
#Q9
# 'program to remove empty list from list'
emp_list = [1,3,[33,44],5,[],4,[],[],33,[],["ravindra"],5]
result = [i for i in emp_list if i]
print("the output after removing the empty list is: {}".format(result))

the output after removing the empty list is: [1, 3, [33, 44], 5, 4, 33, ['ravindra'], 5]

In [69]:
#Q10
# 'program to clone or copy a list'
copy_list = [10, 22, 44, 23, 4]
new_list = list(copy_list)
print("the list before colning is: {}".format(copy_list))
print("the list after colning is: {}".format(new_list))

the list before colning is: [10, 22, 44, 23, 4]
the list after colning is: [10, 22, 44, 23, 4]

In [93]:
#Q11
# 'program to count occurrences of an element in a list'
occ_list = [2,3,44,6,77,2,11,1,2,3,1,2]
result = occ_list.count(2)
print("the element occured {} times in the list".format(result))

the element occured 4 times in the list